.button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border-1);
  border-radius: 99em;
  color: var(--color-text-2);
  font-weight: 400;
  font-size: 1rem;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--color-text-reversed);
    background-color: var(--color-background-reversed);
  }
}
