@import '../../../styles/responsive';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 3rem;

  .title {
    display: block;
    font-weight: 600;
    font-size: 1.3rem;
    white-space: nowrap;
  }

  @include respond(mobile_m) {
    flex-wrap: wrap;
  }
}
