@import '../../../../styles/responsive';

.table {
  width: 100%;
  margin-bottom: 4rem;
  border-collapse: collapse;
  white-space: nowrap;
  table-layout: fixed;

  colgroup {
    .colCover {
      width: 50px;
    }

    .colInfo {
      width: 100%;
    }

    .colPopularity {
      width: 20%;
    }

    .colDuration {
      width: 20%;
    }

    .colRemove {
      width: 10%;
    }

    @include respond(tablet) {
      .colPopularity {
        width: 70px;
      }

      .colDuration {
        width: 70px;
      }

      .colRemove {
        width: 60px;
      }
    }

    @include respond(mobile_l) {
      .colPopularity {
        width: 50px;
      }

      .colDuration {
        width: 60px;
      }

      .colRemove {
        width: 40px;
      }
    }
  }

  thead th {
    padding: 1rem 0.5rem;
    color: var(--color-text-1);
    font-weight: 500;
    font-size: 0.8rem;
    text-align: left;

    &:nth-child(1) {
      padding-left: 0rem;
    }

    &:last-child {
      padding-right: 0.5rem;
      text-align: right;
    }
  }

  tbody td {
    padding: 0 0.5rem;
    overflow: hidden;
    color: var(--color-text-3);
    white-space: nowrap;
    text-overflow: ellipsis;

    &:nth-child(1) {
      padding-left: 0rem;
    }

    &:last-child {
      padding-right: 0.5rem;
      text-align: end;

      * {
        justify-content: flex-end;
        margin-left: auto;
      }
    }
  }

  @include respond(mobile_l) {
    thead {
      display: none;
    }
  }
}
