.artist {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;

  .left {
    display: flex;
    align-items: center;
    gap: 1rem;

    .image {
      width: 64px;
      height: 64px;
      object-fit: cover;
      border-radius: 50%;
    }

    .name {
      font-size: 1.1rem;
    }
  }
}

.column {
  .left {
    flex-direction: column;

    .image {
      width: 220px;
      height: 220px;
    }
  }
}
