@import '../../styles/responsive';

.Grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 0.5rem;
  width: 100%;

  @include respond(mobile_l) {
    grid-template-columns: 1fr 1fr;
  }
}
