@import '../../styles/responsive';

.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%;

  @include respond(mobile_l) {
    grid-template-columns: 1fr 1fr;
  }
}
