.filtersPeriod {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;

  .filtersPeriodItem {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    &.active {
      border-bottom: 2px solid var(--primary-100);
      color: var(--primary-100);
      opacity: 1;
    }
  }
}
