.AlbumCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: var(--color-background-3);

  .image {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .info {
    display: flex;
    flex-direction: column;

    .name {
      position: relative;
      display: block;
      margin-bottom: 0.5rem;
      overflow: hidden;
      font-size: 0.9rem;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .artist {
      color: var(--color-text-3);
      font-size: 0.8rem;
      opacity: 0.8;
    }
  }
}
