.section {
  flex: 1;
  width: 50%;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;

    b {
      display: block;
      font-size: 1.3rem;
    }
  }
}
