@import '../../../styles/responsive';

.banner {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  width: 100%;

  .image {
    width: 100%;
    max-width: 250px;
    height: 100%;
    object-fit: cover;
  }

  .name {
    margin-bottom: 1rem;
    color: var(--color-text-1);
    font-weight: 700;
    word-break: break-all;
  }

  .public,
  .description,
  .collaborative,
  .followers {
    color: var(--color-text-3);
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }
}

@include respond(tablet) {
  .banner {
    flex-direction: column;
    align-items: flex-start;
  }
}
