$mobile_s: 320px;
$mobile_m: 400px;
$mobile_l: 520px;
$tablet: 780px;
$laptop_s: 1024px;
$laptop_l: 1440px;

@mixin respond($media) {
  @if $media == mobile_s {
    @media (max-width: $mobile_s) {
      @content;
    }
  } @else if $media == mobile_m {
    @media (max-width: $mobile_m) {
      @content;
    }
  } @else if $media == mobile_l {
    @media (max-width: $mobile_l) {
      @content;
    }
  } @else if $media == tablet {
    @media (max-width: $tablet) {
      @content;
    }
  } @else if $media == laptop_s {
    @media (max-width: $laptop_s) {
      @content;
    }
  } @else if $media == laptop_l {
    @media (max-width: $laptop_l) {
      @content;
    }
  }
}

@mixin respond-gt($media) {
  @if $media == mobile_s {
    @media (min-width: $mobile_s) {
      @content;
    }
  } @else if $media == mobile_m {
    @media (min-width: $mobile_m) {
      @content;
    }
  } @else if $media == mobile_l {
    @media (min-width: $mobile_l) {
      @content;
    }
  } @else if $media == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $media == laptop_s {
    @media (min-width: $laptop_s) {
      @content;
    }
  } @else if $media == laptop_l {
    @media (min-width: $laptop_l) {
      @content;
    }
  }
}
