@import '../../styles/responsive';

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  width: 100%;
  margin-bottom: 3rem;

  @include respond(mobile_l) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
