@import '../../styles/responsive';

.navigation {
  width: 100%;

  @include respond(tablet) {
    height: 100%;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
    }
  }
}
