.ButtonPrimary {
  margin-top: 1rem;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 2rem;
  color: var(--white);
  font-weight: 600;
  white-space: nowrap;
  text-transform: capitalize;
  background-color: var(--primary-300);
  cursor: pointer;
}
