@import '../../../styles/mixins';

@import '../../../styles/responsive';

.track {
  display: grid;
  grid-template-columns: auto 2fr 1fr auto;
  align-items: center;
  gap: 1rem;
  min-width: 300px;
  padding-right: 0.5rem;
  overflow: hidden;
  border-radius: 0.5rem;

  img {
    border-radius: 0.5rem;
  }

  .left {
    margin-right: 1rem;
    padding: 0.5rem;
    overflow: hidden;

    .name {
      display: block;
      margin-bottom: 0.2rem;
      overflow: hidden;
      color: var(--color-text-1);
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.8rem;
      opacity: 0.5;

      .artist {
        white-space: nowrap;
      }

      .album {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .popularity {
    position: unset;
  }

  .right {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 1rem;

    .duration {
      margin-left: auto;
      font-size: 0.85rem;
      opacity: 0.6;
    }
  }

  &:hover {
    background-color: var(--color-background-2);
  }

  @include respond(tablet) {
    grid-template-columns: auto 1fr 0fr auto;

    .popularity {
      display: none;
    }
  }
}
