@import '../../../styles/mixins';

@import '../../../styles/responsive';

.track {
  min-width: 300px;
  overflow: hidden;
  border-radius: 0.5rem;

  td {
    font-size: 0.8rem;
  }

  img {
    border-radius: 0.5rem;
  }

  .left {
    overflow: hidden;

    .name {
      display: block;
      margin-bottom: 0.2rem;
      overflow: hidden;
      color: var(--color-text-1);
      font-size: 0.9rem;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      opacity: 0.5;

      .artist {
        white-space: nowrap;
      }

      .album {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .right {
    position: relative;

    .duration {
      margin-left: auto;
    }
  }

  &:hover {
    background-color: var(--color-background-3);
  }

  @include respond(mobile_l) {
    .left {
      .name {
        font-size: 0.9rem;
      }
    }
  }
}
