@import '../../../styles/mixins';

.track {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;

  @include overlayWithHover;

  .left {
    position: relative;
    z-index: 3;
    overflow: hidden;

    .name {
      display: block;
      width: fit-content;
      margin-bottom: 0.4rem;
      overflow: hidden;
      color: var(--color-text-1);
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.8rem;
      opacity: 0.5;

      .artist {
        white-space: nowrap;
      }

      .album {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .right {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 1rem;

    .duration {
      margin-left: auto;
      font-size: 0.85rem;
      opacity: 0.6;
    }
  }
}
