.artistCardSkeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1.6rem;
  border-radius: 0.5rem;
  background-color: var(--color-background-3);
}

.skeletonImage {
  height: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.skeletonName {
  width: 60%;
  height: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 10%;
}

.skeletonFollowers {
  width: 60%;
  height: 1rem;
  border-radius: 10%;
}

.skeletonFollowers,
.skeletonName,
.skeletonImage {
  position: relative;
  overflow: hidden;
  background-color: var(--color-background-4);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      90deg,
      rgba(#ffffff, 0) 0,
      rgba(#ffffff, 0.2) 20%,
      rgba(#ffffff, 0.5) 60%,
      rgba(#ffffff, 0)
    );
    transform: translateX(-100%);
    animation: shimmer 3s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.6;
  }
}
