.Section {
  flex: 1;
  margin-bottom: 4rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .title {
    color: var(--color-text-1);
    font-weight: bold;
    font-size: 1.3rem;
  }
}
