.Breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.3rem;
  margin: 1rem 0;

  .crumb {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    max-width: 400px;
    font-size: 0.8rem;

    *::first-letter {
      text-transform: uppercase;
    }

    &.active {
      color: var(--primary-200);
      font-size: 1rem;
      cursor: default;
      pointer-events: none;
    }

    a {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .separator {
      font-size: 1rem;
      opacity: 0.8;
    }
  }
}
