@import '../../../styles/responsive';

.banner {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  margin-bottom: 2rem;

  .image {
    width: 100%;
    max-width: 250px;
    height: 100%;
    object-fit: cover;
  }

  .artist {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-weight: 600;
    font-size: 1rem;
    white-space: nowrap;
  }

  .name {
    max-width: 500px;
    margin-bottom: 1rem;
    font-size: 2.3rem;
  }

  .genres,
  .popularity,
  .release,
  .type,
  .totalTracks {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--color-text-3);
    text-transform: capitalize;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: fit-content;
    margin-top: 2rem;

    a {
      padding: 0.8rem 1.8rem;
      border-radius: 25px;
      font-weight: 500;
      white-space: nowrap;
      background-color: var(--primary-300);
    }
  }
}

@include respond(tablet) {
  .banner {
    flex-direction: column;
    align-items: start;

    .image {
      max-width: 100%;
    }
  }
}
