@import '../../styles/responsive';

.table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  table-layout: fixed;

  thead th {
    padding: 1rem 0.5rem;
    color: var(--color-text-1);
    font-weight: 500;
    font-size: 0.8rem;
    text-align: left;

    &:nth-child(1) {
      padding-left: 0rem;
    }

    &:nth-child(2) {
      padding-left: 0.5rem;
    }

    &:last-child {
      padding-right: 0.5rem;
      text-align: right;
    }
  }

  tbody td {
    padding-left: 0.5rem;
    overflow: hidden;
    color: var(--color-text-3);
    font-size: 0.9rem;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:nth-child(1) {
      padding-left: 0rem;
    }

    &:nth-child(2) {
      padding-right: 1rem;
    }

    &:last-child {
      padding-right: 0.5rem;
      text-align: end;
    }
  }
}
