@import '../../../styles/responsive';

.banner {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.8rem;
  margin-bottom: 2rem;

  h1 {
    margin: auto;
  }

  .bannerItemImage {
    width: 100%;
    max-width: 100px;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    background-position: 100%;
  }

  .bannerItem {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: var(--color-background-3);
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    .bannerItemTitle {
      padding: 1rem;
      font-weight: 600;
      font-size: 1rem;
    }
  }

  @include respond(laptop_l) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  @include respond(tablet) {
    .bannerItem {
      &:hover {
        transform: none;
      }
    }
  }

  @include respond(mobile_l) {
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
