@import '../../../styles/responsive';

.banner {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.8rem;
  margin-bottom: 2rem;

  .bannerItemImage {
    object-fit: cover;
    border-radius: 0.5rem;
    background-position: 100%;
    aspect-ratio: 1/1;
  }

  .bannerItem {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: var(--color-background-3);
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    .bannerItemTitle {
      width: 100%;
      padding: 0.5rem;
      font-weight: 600;
      font-size: 0.9rem;
    }
  }

  @include respond(laptop_s) {
    grid-auto-rows: 1fr;

    .bannerItemImage {
      width: 100%;
    }

    .bannerItemTitle {
      overflow: hidden;
      font-size: 0.8rem;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .bannerItem {
      flex-direction: column;

      &:hover {
        transform: none;
      }
    }
  }

  @include respond(mobile_l) {
    grid-template-columns: 1fr 1fr;

    .bannerItem {
      &:last-child {
        display: none;
      }
    }
  }
}
