@import '../../../styles/responsive';

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  font-weight: 600;
  font-size: 0.7rem;
  transition: all 0.3s ease-in-out;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--color-text-3);
  }

  svg {
    font-size: 1.7rem;
    opacity: 0.7;

    path {
      stroke: var(--color-text-3);
    }
  }

  span {
    margin-top: 0.5rem;
    font-weight: 300;
    white-space: pre-wrap;
    text-align: center;
    opacity: 0.8;
  }

  &:hover {
    svg {
      path {
        stroke: var(--color-text-1);
      }
    }

    a {
      color: var(--color-text-1);
    }
  }

  &.active {
    border-right-color: var(--primary-100);
    background-color: var(--primary-500);

    svg {
      path {
        stroke: var(--primary-100);
      }
    }

    a {
      color: var(--primary-100);
    }
  }

  @include respond(tablet) {
    height: 100%;
    margin: 0;
    padding: 0.4rem;
    border: none;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

    svg {
      font-size: 1.4rem;
    }

    span {
      white-space: nowrap;
    }

    &.active {
      border-top-color: var(--primary-100);
    }
  }
}
